.Title{
    font-family: "Segoe UI Light";
    font-size:22px;
    margin: auto;
    
}
.type{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:20px,
}
.price{
    font-size: 15px;
}