.body-userlogin {
  width: 100%;
  height: 45em;
  background-image: url("src/images/login-background.jpg");
  background-size: cover;
}
.logo {
  width: 300px;
  height: 40px;
  background: url("src/images/logo.svg") no-repeat;
  margin: 35px auto;
  position: relative;
  left: 25px;
  top: 90px;
}

.login-block {
  width: 400px;
  padding: 40px;
  background: rgba(13, 13, 13, 0.4);
  border-radius: 5px;
  border-top: 5px solid #112f42;
  border-bottom: 8px solid #112f42;
  font-size: 16px;

  margin: 0 auto;
  position: relative;

  top: 90px;
}

.login-block h1 {
  text-align: center;
  color: rgb(231, 230, 230);
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  margin-top: 5px;

  font-size: 16px;
  font-family: Montserrat;
  padding: 0 20px 0 20px;
  outline: none;
}
.login-block input:active,
.login-block input:focus {
  border: 1px solid #ff656c;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #568990;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #7dacaf;
  color: rgba(2, 0, 0, 0.779);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
  margin-bottom: 2em;
  margin-top: 3em;
}

.login-block button:hover {
  background: rgba(13, 13, 13, 0.2);
  border: 2px solid #7dacaf;
  color: white;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
.login-block a {
  text-decoration: none;
  /* margin-top: 10px; */
  color: rgb(223, 223, 223);
}
.login-block a:hover {
  color: rgb(32, 32, 32);
}
.nav-header a {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
}
#btn_admin {
  background: #c8a04b;
  border: 2px solid #c8a04b;
}
#btn_admin:hover {
  background: rgba(13, 13, 13, 0.2);
  border: 2px solid #c8a04b;
  color: white;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}
#password {
  margin-top: 0.5em;
}
